// Display text selection highlighting using class
%noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Firefox */
       -moz-user-select: none; /* Internet Explorer/Edge */
        -ms-user-select: none; /* Non-prefixed verion, currently
                                  supported by Chrome and Opera */
}
